<div class="row" style="padding: 10px">
	<div class="panel panel-default">
		<div class="panel-heading">得到钱包</div>
		<div class="panel-body">
			<p>国内百度网盘下载：<a href="https://pan.baidu.com/s/1sosDPDtwbMDhwHdz-1Dh7w" target="_blank">https://pan.baidu.com/s/1sosDPDtwbMDhwHdz-1Dh7w</a> 提取码: <strong>iyzp</strong></p>
			<p>也可到瑞狐恒星QQ群566413562的群文件里下载。 </p>
			<p>下载解压后找到"FoxletStellar"有小火箭图标的程序，点击运行。钱包支持中英文，在右下角点国旗可切换。</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">创建钱包</div>
		<div class="panel-body">
			<p>无论是否有秘钥，都要创建一个新账户。</p>
			<img class="img-thumbnail img-responsive" src="img/create/create.png">
			
			<p>首次使用选择第一个菜单“创建一个全新账户”。如果你有秘钥，选第二个“用密钥创建”。如果你有助记词选“用助记词创建”。</p>
			<img class="img-thumbnail img-responsive" src="img/create/create2.png">
			<p>然后保存文件。这个文件就是你的本地钱包文件。一定要记住保存在哪里，比如放在“我的文档”。</p>
			<img class="img-thumbnail img-responsive" src="img/create/savefile.png">
			<p>保存时会让你输入密码。这个密码以后就可以用来打开本地钱包。输入密码后点“加密账户”。​</p>
			<img class="img-thumbnail img-responsive" src="img/create/encrypt.png">
			<p>然后就会显示你的账号信息。下图红框就是你的地址，别人就可以向这个地址发送钱啦！​</p>
			<img class="img-thumbnail img-responsive" src="img/create/savesecret.png">
			<p>此时最重要的事是备份钱包，点击“显示密钥”，然后确定。</p>
			<img class="img-thumbnail img-responsive" src="img/create/secret.png">
			<p>
				把12个汉字的助记词抄下来。追求极致安全可连英文助记词甚至密钥一起抄。同时建议把刚才生成的钱包txt文件放优盘存一份。保存好了后，就点“是，我已经保存好了”。
			​</p>
			
			<p>
				​恭喜，钱包已经创建好了。把钱包地址发给朋友或者加瑞狐网关群566413562找人激活吧。记住，只能发地址。密钥在任何情况下都不要告诉别人。<br>
			​</p>
			<p>
				​激活后，你就可以进行下一步教程。
			​</p>
			<a class="btn btn-primary btn-lg" style="width: 300px;" href="#/trust">
				    继续教程：授信网关 &gt;&gt;
			</a>
		</div>
	</div>
</div>
