<div class="row ng-scope" style="padding: 10px">
    
    <div class="panel panel-default">
        <div class="panel-heading">充值</div>
        <div class="panel-body">
            <p>
                直接在钱包里点“充提”菜单，就会出现操作提示。
            </p>
            <p>目前充值提现可进行场外交易，类似于火币和OK的承兑商形式。用户需自行辨别风险，做好身份认证。有骗子会冒充管理员，或火币OK的客服。先在群里确认真伪。</p>
            <p>承兑商一般都是QQ群管理员，加群后可先在群里询问情况。找大家公认的承兑商。</p>
            <p>
                对于未集成在充提菜单的锚点，则需查看对应的锚点网站。
            </p>
            <a class="btn btn-primary btn-lg" style="width: 300px;" href="#/withdraw">
                    继续教程：提现 &gt;&gt;
            </a>
        </div>
    </div>
</div>